@import url('https:///fonts.googleapis.com/css2?family=Baloo+2&family=Montserrat&display=swap');
/*  COLORS HEX * 
colors-hex { 
  --bleu-gris: #628395ff; 
  --mi-gris: #96897bff; 
  --jaune-clair: #dfd5a5ff; 
  --jaune-orange: #dbad6aff; 
  --camel: #cf995fff; 
} 

